#toplevel_page_cpcommunitie_debug div.wp-menu-image {
	background-image:url('images/cpc_logo.svg');
	background-size: 22px auto;
	background-position: 7px 5px;
	background-repeat: no-repeat;
}

.__cpc__tooltip {
	text-decordation:none;
	margin-left: 5px;
	text-align: center;
	border:1px solid #aaa;
	background-color: #eef;
	cursor: help;
	border-radius:7px;
	color: #999;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
}

table.__cpc__admin_table td {
	background:transparent;
	color: #000;
}
